# Created by .ignore support plugin (hsz.mobi)
.idea/blade.xml
.idea/copyright/
.idea/encodings.xml
.idea/home-stay.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
home-stay/
.env.example
.gitattributes
.gitignore
app/
artisan
bootstrap/
composer.json
composer.lock
config/
database/
gulpfile.js
package.json
phpunit.xml
public/
readme.md
resources/
server.php
storage/
tests/
