#map { bottom:0; width:100%; }
.info {
    position:absolute;
    top:95px;
    right:20px;
    width: 300px;
}
.info div {
    background:#fff;
    padding:4px;
    border-radius:3px;
}
.popup {
    text-align:center;
}
.popup .slideshow .image        { display:none; }
.popup .slideshow .image.active { display:block; }
.popup .slideshow img {
    width:100%;
}
.popup .slideshow .caption {
    background:#eee;
    padding:10px;
}
.popup .cycle {
    padding:10px 0 20px;
}
.popup .cycle a.prev { float:left; }
.popup .cycle a.next { float:right; }
.scroll {
    height: 350px;
    overflow: scroll;
}
.scroll::-webkit-scrollbar {
    width: 5px;
}

/*.scroll::-webkit-scrollbar-track {*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*border-radius: 10px;*/
/*}*/

/*.scroll::-webkit-scrollbar-thumb {*/
/*border-radius: 10px;*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
/*}*/



form#search select option {
    background-color: #626565;
}

.dropzone {
    border: 2px dashed #EB7260;
    box-shadow: 0 0 0 5px #373b44;
    padding: 20px;
    background: #373b44;
    color: #fff;
    text-align: center;
}

.dropzone h3 {
    color: white;
    text-align: center;
    line-height: 3em;
    margin-top: 20px;
}

.dz-clickable {
    cursor: pointer;
}

.dz-drag-hover {
    border: 2px solid #EB7260;
}

.dz-preview, .dz-processing, .dz-image-preview, .dz-success, .dz-complete {
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
}

.dz-preview {
    width: auto !important;
}

.dz-image {
    text-align: center;
    /*border: 1px solid #EB7260;*/
}

.dz-details {
    padding: 10px;
}

.dz-success-mark, .dz-error-mark {
    display: none;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
.crop{
    overflow:hidden;
    height:250px;
}
.white {
    color: #FFFFFF !important;
}

.red{
    color:red;
}

.yellow{
    color: #FBB448;
}

.login .form-group {
     margin-left: 0;
     margin-right: 0;
}

.login .form-control {
    color: #FFFFFF;
}

.form-wrap-profile {
    border-top: 10px solid #FBB448;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.border-none {
    border: 0;
}

.special-img
{
    height: 30px;
    width: 30px;
    position: relative;
}
.profile-image  {
    padding-top: 0;
    padding-bottom: 0;
}


.sussess {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}

.success svg path {
    stroke: #55acee;
    fill: white;
    stroke-width: 6px;
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    -moz-animation: checkit 1.5s cubic-bezier(0.4, 0, 1, 1) forwards infinite 1s;;
    -webkit-animation: checkit 1.5s cubic-bezier(0.4, 0, 1, 1) forwards infinite 1s;;
    animation: checkit 1.5s cubic-bezier(0.4, 0, 1, 1) forwards infinite 1s;
}

/* Keyframes */
@-moz-keyframes checkit {
    0% {stroke-dashoffset: 745.74853515625;}
    100% {stroke-dashoffset: 0;}
}
@-webkit-keyframes checkit {
    0% {stroke-dashoffset: 745.74853515625;}
    100% {stroke-dashoffset: 0;}
}
@keyframes checkit {
    0% {stroke-dashoffset: 745.74853515625;}
    100% {stroke-dashoffset: 0;}
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled i {
    margin-right: 6px;
}

.img-center {
    margin: 0 auto;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #FBB448;
}

.star-on-png {
    color: #FBB448;
}


/*Review*/
.review .thumbnail {
    padding:0px;
}
.review  .panel {
    position:relative;
}
.review  .panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.review  .panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.review .panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    padding: 0 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.address select option {
    margin:40px;
    background: rgba(0,0,0,0.3);
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}



.view-apartment .glyphicon { margin-right:5px; }
.view-apartment .thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.view-apartment .item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.view-apartment .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.view-apartment .item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.view-apartment .item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.view-apartment .item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.view-apartment .item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.view-apartment .item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.view-apartment .item.list-group-item img
{
    float: left;
}
.view-apartment .item.list-group-item:after
{
    clear: both;
}
.view-apartment .list-group-item-text
{
    margin: 0 0 11px;
}